# Dependencias de Node
node_modules/
dist/
dist-ssr/

# Archivos de configuración y variables de entorno
.env
.env.local
.env.*.local

# Archivos de compilación de Vite
*.cache/
*.temp/
.vite/
.vite-cache/
out/

# Archivos de configuración específicos del sistema operativo
.DS_Store
Thumbs.db

# Directorios de caché y archivos de compilación
.vscode/
.idea/

# Archivos de depuración
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos específicos de IDEs
*.sublime-workspace
*.sublime-project
*.code-workspace
*.iml
*.sw?

# Archivos de configuración específicos del sistema de implementación
netlify.toml
vercel.json

# Archivos y configuraciones específicos de editores
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
